.hover-button {
    border-radius: 12px;
    height: 42px;
    position: relative;
    width: 163px;
  }
  
  .hover-button .text-wrapper {
    color: #212d3f;
    font-family: "Lato-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
  }
  
  .hover-button.default {
    background-color: #6fa385;
    box-shadow: 4px 4px 10px #00000040;
  }
  
  .hover-button.variant-3 {
    background-color: #3f5e4c;
    box-shadow: 4px 4px 10px #00000040;
  }
  
  .hover-button.variant-2 {
    background-color: #578169;
    box-shadow: 4px 4px 10px #000000;
  }
  