@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .all-\[unset\] {
      all: unset;
    }
  }
  
  :root {
    --deskripsi-text-font-family: "Lato-Regular", Helvetica;
    --deskripsi-text-font-size: 24px;
    --deskripsi-text-font-style: normal;
    --deskripsi-text-font-weight: 400;
    --deskripsi-text-letter-spacing: 0px;
    --deskripsi-text-line-height: normal;
    --headline-font-family: "Boogaloo-Regular", Helvetica;
    --headline-font-size: 60px;
    --headline-font-style: normal;
    --headline-font-weight: 400;
    --headline-letter-spacing: 0px;
    --headline-line-height: normal;
    --optional-font-family: "Carattere-Regular", Helvetica;
    --optional-font-size: 25px;
    --optional-font-style: normal;
    --optional-font-weight: 400;
    --optional-letter-spacing: 0px;
    --optional-line-height: normal;
    --primary-color-1: rgba(241, 241, 232, 1);
    --primary-color-2: rgba(191, 220, 174, 1);
    --primary-color-3: rgba(129, 178, 20, 1);
    --secondary-color-1: rgba(32, 106, 93, 1);
    --secondary-color-2: rgba(41, 68, 111, 1);
    --secondary-color-3: rgba(63, 141, 43, 1);
    --subjudul-font-family: "LibreBaskerville-Regular", Helvetica;
    --subjudul-font-size: 35px;
    --subjudul-font-style: normal;
    --subjudul-font-weight: 400;
    --subjudul-letter-spacing: 0px;
    --subjudul-line-height: normal;
    --tagline-font-family: "Heebo-Regular", Helvetica;
    --tagline-font-size: 45px;
    --tagline-font-style: normal;
    --tagline-font-weight: 400;
    --tagline-letter-spacing: 0px;
    --tagline-line-height: normal;
  }